<div class="col-md-6">
    <div class="row d-flex justify-content-center">
        <div class="notes-container col-md-10 overflow-auto">
            <div class="card">
                <div class="card-body mt-1">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        Title<a href="/notes/edit/"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>Description </p>
                    <form action="/notes/delete/?_method=DELETE" method="POST">
                        <input type="hidden" name="_me">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body mt-1">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        Title<a href="/notes/edit/"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>Description </p>
                    <form action="/notes/delete/?_method=DELETE" method="POST">
                        <input type="hidden" name="_me">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body mt-1">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        Title<a href="/notes/edit/"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>Description </p>
                    <form action="/notes/delete/?_method=DELETE" method="POST">
                        <input type="hidden" name="_me">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body mt-1">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        Title<a href="/notes/edit/"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>Description </p>
                    <form action="/notes/delete/?_method=DELETE" method="POST">
                        <input type="hidden" name="_me">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body mt-1">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        Title<a href="/notes/edit/"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>Description </p>
                    <form action="/notes/delete/?_method=DELETE" method="POST">
                        <input type="hidden" name="_me">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body mt-1">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        Title<a href="/notes/edit/"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>Description </p>
                    <form action="/notes/delete/?_method=DELETE" method="POST">
                        <input type="hidden" name="_me">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body mt-1">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        Title<a href="/notes/edit/"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>Description </p>
                    <form action="/notes/delete/?_method=DELETE" method="POST">
                        <input type="hidden" name="_me">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body mt-1">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        Title<a href="/notes/edit/"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>Description </p>
                    <form action="/notes/delete/?_method=DELETE" method="POST">
                        <input type="hidden" name="_me">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>