<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12 col-12 title pt-2">
            <h1 class="text-light">Welcome to My Day Web App!</h1>
            <p class="text-light pt-3">Organize your life! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad sunt nisi eius maiores! Harum, tenetur? Esse veritatis modi velit laboriosam, veniam temporibus qui explicabo, blanditiis, corporis rem quas sint id?</p>            
            <div class="row pt-5">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="landing-icon">
                    </div>
                    <div class="landing-text text-light pl-3">
                        <p>NAME</p>
                        <h5>This is the a title!</h5>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="landing-icon">
                    </div>
                    <div class="landing-text text-light pl-3">
                        <p>NAME</p>
                        <h5>This is the a title!</h5>
                    </div>
                </div>
            </div>            
        </div>    
        <div class="col-md-5 col-sm-12 col-12 image_logo">
            <img src="/images/logo_transparent.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>