<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="form pt-3">
                <form action="/users/complete-register" method="POST">                    
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" id="firstName" value={{firstName}}>
                    </div>                
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" id="lastName" value={{lastName}}>
                    </div>
                    <div class="form-group">
                        <label for="birthday">Birthday</label>                        
                        
                        <div class="input-group date" data-date-format="mm-dd-yyyy">                            
                            <input class="form-control datepicker-birthday" type="text" readonly name="birthday" id="birthday" value={{birthday}}/>                            
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sex">Sex</label>
                        <select name="sex" id="sex" class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-block btn-primary" value="Save">                        
                    </div>       
                                 
                </form>   
                <div class="form-group">
                    <a href="/main?skip=true" class="btn btn-block btn-secondary">Skip</a>
                </div>             
            </div>
        </div>
    </div>    
</div>